<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="../static/first.css"  th:href="@{static/first.css}"rel="stylesheet" type="text/css">
</head>
<body>

<div class="inpForm">
    <form   name="user" th:action="@{/login}" method="post">
        <div ><p>Логин:</p></div>
        <div class="field"><input class="input" type="text" name="username"/></div>
        <div><p>Пароль:</p></div>
        <div class="field"><input class="input" type="password" name="password"/> </div>

        <div id="error" th:if="${param.error}"><p>Неправильное имя пользователя или пароль.</p></div>
        <div id="success" th:if="${param.logout}"><p>Вы вышли из системы.</p></div>

        <input id ="button" type="submit" value="Войти"/>
    </form>

    <a class="link" href="/reg"><p>Регистрация</p></a>
</div>
</body>
</html>