<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{http://code.jquery.com/jquery-2.0.2.min.js}" src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" th:src="@{../../static/js/Search.js}" src="../../static/js/Search.js"></script>
    <link href="../../static/adminMain.css"  th:href="@{../static/adminMain.css}" rel="stylesheet" type="text/css">
    <title>Список пользователей</title>
</head>
<body>
<div class="foot">
    <input type="text" id="search" onkeyup="javascript:tableSearch()" placeholder="Поиск">

    <a class="customRef" href="/admin/" >
        <div class="mainButton">
            Главная
        </div>
    </a>

    <a class="customRef" href="/logout">
        <div class="mainButton">
            Выйти
        </div>
    </a>
</div>
<div class="content">
    <h1>Список пользователей</h1>


    <table id="tbl" class="mainTable">
        <thead>
            <tr>
                <td>Логин</td>
                <td>ФИО</td>
                <td>Адрес</td>
                <td>Email</td>
                <td>Телефон</td>
                <td>Права</td>
            </tr>
        </thead>
        <tbody th:each ="user : ${users}">
        <tr>
            <td th:utext="${user.login}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.address}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.phone}">...</td>
            <td th:if="${user.role}=='ROLE_USER'">Пользователь</td>
            <td th:if="${user.role}=='ROLE_ADMIN'">Администратор</td>
            <td>
                <form th:if="${user.role}=='ROLE_USER'" th:action="@{/admin/makeAdmin}" th:object="${user}" method="post">
                    <input type="hidden" th:value="${user.login}" name="login">
                    <button class="commands" type="submit">Выдать права администратора</button>
                </form>
                <form th:if="${user.role}=='ROLE_ADMIN'" th:action="@{/admin/bustAdmin}" th:object="${user}" method="post">
                    <input type="hidden" th:value="${user.login}" name="login">
                    <button class="commands" type="submit">Забрать права администратора</button>
                </form>
                <form  th:action="@{/admin/deleteUser}" th:object="${user}" method="post">
                    <input type="hidden" th:value="${user.login}" name="login">
                    <button class="commands" type="submit">Удалить пользователя</button>
                </form>
            </td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>